body{
    background-color: #f2f2f2;
}
h1{
    text-align: center;
    color: #333;
    padding-bottom: 10px;
}
h2{
    color: #333;
}
a{
    color: #007bff;
}
p{
    color: #555;
}
ul{
    color: #555;
    margin-left: 20px;
}
li{
    margin-bottom: 5px;
}